{%load static%}
<!-- footer -->

<footer class="footer">
    <div class="fcitem-1">Magda Domonkos</div>
    <ul class="f-contact-list">
        <div class="f-c-alignment">
            <li class="f-c-list-item fcitem-2">Telefonszám: +36 30 212 5195</li>
            <li class="f-c-list-item fcitem-3">Email-cím: info@mdnd-it.hu</li>
            <li class="f-c-list-item fcitem-4">Telephely: 9735, Csepreg Zrínyi utca, 42.</li>
        </div>
    </ul>
    <div class="copyright">
        <p class="creater">Created by MDnD</p>
        <p class="copyright-text">&copy 2022 Csepreg MDnD. Minden jog fenntartva.</p>
    </div>
</footer>

<!-- end of footer -->
</body>
</html>