{% extends 'base.html' %}

{%load static%}

{%block beheading%}
<!-- header -->
<div class="header-wrap">
    <div class="header-content">
        <div class="h1+line">
            <h1 class="header-heading">
                MDnD IT Solutions</h1>
            <div class="h-line"></div>
            </div>
        <h2 class="header-subheading">
            Informatikai szolgáltatások
        </h2>
    </div>
</div>
<!-- end of header -->
{%endblock%}

{%block content%}
<div class="home_container">
    <div class="sub_1 reveal1">
        <h3 class="subtitles subtitle_1">Miért nélkülözhetetlen a céges IT tanácsadás </h3>

        <div class="subcontents subcontent_1">Gondolkodott már el rajta, hogy hogyan hozhatná ki a maximumot a cégéből? Hogyan érhetné el, hogy az informatika használata elősegítse a munkát és ne hátráltassa? Az mai világban elengedhetetlen a megfelelő IT infrastuktúra kiépítése és annak megfelelő használata.
        </div>
    </div>


        <div class="sub_2 reveal2">
        <h3 class="subtitles subtitle_2">Mikor szükséges az IT tanácsadás?</h3>

        <div class="subcontents subcontent_2">Új rendszer, program beüzemelése előtt: gyakran előfordul a vállalatoknál, hogy felmerül egy bizonyos IT megoldásra az igény (pl. „Biztonságosabb, távolról is elérhető dokumentáció”, „profibb ügyfélkezelés”, „felhő alapú rendszer”, ...), de annyi megoldás létezik rá a piacon, hogy a választás önállóan lehetetlennek tűnik. Ezért kezdem a munkát az önnökkel való beszélgetéssel, majd ezt követően segítünk összeállítani egy, a cége problémájára specializált megoldást.
        </div>
    </div>


        <div class="sub_3 reveal3">
        <h3 class="subtitles subtitle_3">NEM CSAK TANÁCSOLUNK MEG IS VALÓSÍTUNK!</h3>

        <div class="subcontents subcontent_3">Amennyiben a használatban lévő informatikai eszközeit elavultnak, lassunak, kezdetlegesnek érzi, vagy csak most kezdene bele válalkozása informatikai hátterét kialakítani, ajánlott lehet egy szakértői konzultáció, amely végeztével a legkorszerűbb, és a céljainak, illetve keretének legmegfelelőbb eszközökről/szofverekről kaphat tájékoztatást. Miután a konzultáción átbeszéltük a lehetőségeket, ránk bízhatja a rendszer és a szoftver bevezetését, karbantartását is.
        </div>
    </div>


        <div class="sub_4 reveal2">
        <h3 class="subtitles subtitle_4">Miért válaszd IT tanácsadás szolgáltatásunkat?</h3>

        <div class="subcontents subcontent_4">Kisebb-nagyobb IT problémák bárhol és bármikor felmerülhet (lassú hálozat, rosszul beállított nyomtató, lassú számítógép, ...) ezekben a problémákban segítségére tudunk lenni, hívjon minket bátran, vagy használja az oldalon erre elhelyezett felületet.
        </div>
    </div>


        <div class="sub_5 reveal1">
        <h3 class="subtitles subtitle_5">INFORMATIKAI TANÁCSADÁS SZEMÉLYESEN ÉS ONLINE</h3>

        <div class="subcontents subcontent_5">Tudjuk, hogy elfoglalt, ezért önhöz igazítjuk az egyeztetések és egyéb szolgáltatások időpontját. Ha szeretne személyesen találkozni, azt rugalmas keretek között megszervezzük, ám emellett lehetősége van online, vagy telefonon is konzultálni.
        </div>
    </div>


        <div class="sub_6 reveal3">
        <h3 class="subtitles subtitle_6">SZEMÉLYRE SZABOTT MEGOLDÁSOK</h3>

        <div class="subcontents subcontent_6 subcontent_6_1">A konzultáció során az ön vállalkozására koncentrálok: a céloknak, a vállalati funkcióknak, terveknek és méretnek megfelelő IT megoldást állítunk össze számára.
        </div>
        <div class="subcontents subcontent_6 subcontent_6_2">Többek között ezeken a területeken számíthat a segítségünkre:
            <ul class="subcontents subcontent_6 subcontent_6_2_container">
                <li class="subcontents subcontent_6_2_list subcontent_6 subcontent_6_2_list_1">IT stratégia kidolgozása</li>
                <li class="subcontents subcontent_6_2_list subcontent_6 subcontent_6_2_list_2">Az informatikai költségek optimalizálása</li>
                <li class="subcontents subcontent_6 subcontent_6_2_list subcontent_6_2_list_3">Informatikai folyamatok felülvizsgálata</li>
                <li class="subcontents subcontent_6 subcontent_6_2_list subcontent_6_2_list_4">Felhőstratégia kidolgozása</li>
                <li class="subcontents subcontent_6 subcontent_6_2_list subcontent_6_2_list_5">Szoftverek, rendszerek kiválasztása (azok későbbi bevezetése, felügyelete)</li>
                <li class="subcontents subcontent_6 subcontent_6_2_list subcontent_6_2_list_6">Eszközpark tervezés</li>
                <li class="subcontents subcontent_6 subcontent_6_2_list subcontent_6_2_list_7">Web lap tervezés, futtatás, háttér kezelés</li>
            </ul>
        </div>
    </div>


    <div class="sub_7 reveal2">
        <h3 class="subtitles subtitle_7">Informatikai tanácsadás menete</h3>

        <div class="subcontents subcontent_7">Az ajánlatkérés után felvesszük önnel a kapcsolatot, és leegyeztetünk egy kényelmes időpontot a konzultációra.
            A tanácsadáson először megismerjük az üzleti céljait, hiszen olyan IT megoldást szeretnénk javasolni számára, amely 100 százalékban támogatja a célkitűzéseket.
            A konkrét IT problémák felmérése után szélesebb rálátást kapumk a hiányosságokra.
            Megtervezzük azt az infrastruktúrát, amellyel a hibák megszűnnek, ön pedig időt és hosszú távon akár költségeket is megtakaríthatsz.
            A javasolt hardverekre és szoftverekre, valamint IT szolgáltatásra árajánlatot is készítünk neked.
            Amennyiben a konzultációt hasznosnak találtad és elégedett vagy ajánlatommal, akkor el is kezdődik a céges IT átalakítás.
        </div>
    </div>
</div>

<!-- end of main -->
{%endblock%}